body{
margin: 0;
padding: 0;
overflow: hidden;

}
*{
box-sizing: border-box;
}
#image{
    display: none;
    padding: 0;
    margin: 0;
    width: 400px;
    height: 360px;
}
#mycanvas{
padding: 0;
margin: 0;
align-items: center;
justify-content: center;

}
@media only screen and (max-width:800px) and (orientation:landscape) {
    #mycanvas{
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;

 }
}
    